<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/css/style.css">
		<title>insts485</title>
	</head>
	<body>
		<nav class="navigation">
			<div class="container">
				<div class="logo">
					<a href="/">
						<img src = "/images/insta_logo.png/" alt="insta logo" style="height: 50px; width: 50px;"/>
					</a>
				</div>
				<header style="font-family: fantasy; font-size: large;">INSTA485</header>
				<ul class="nav">
					<li><a href="/explore/">explore</a></li>
					<li><a href="/users/{{ context.logname }}/">{{ context.logname }}</a></li>
				</ul>
			</div>
		</nav>
		<hr style="width:100%; text-align:left; margin-left:0">
        <div class="following">
            {% for user in context.following %}
            <a href="/users/{{ user.username }}/">{{ user.username }}</a> 
            <img src="{{ user.user_img_url }}" alt="profile of {{ user.username }}" style="width: 100px; height: 100px;">
            <p>
				{% if context.logname != user.username %}
				{% if user.logname_follows_username == false %}
				not following
				{% else %}
				following
				{% endif %}
				{% endif %}
			</p>
            <hr style="width:100%; text-align:left; margin-left:0">
            {% endfor %}
        </div>
	</body>
</html>