<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/css/style.css/">
		<title>insts485</title>
	</head>
	<body>
		<nav class="navigation">
			<div class="container">
				<div class="logo">
					<a href="/index.html/">
						<img src="/images/insta_logo.png/" alt="insta logo" style="height: 50px; width: 50px;"/>
					</a>
				</div>
				<header style="font-family: fantasy; font-size: large;">INSTA485</header>
				<ul class="nav">
					<li><a href="/explore/">explore</a></li>
					<li><a href="/users/{{ context.logname }}/">{{ context.logname }}</a></li>
				</ul>
			</div>
		</nav>
		<hr style="width:100%; text-align:left; margin-left:0">
		<div class="userpage">
			<p>
				{% if context.logname != context.username %}
				{% if context.logname_follows_username == false %}
				not following
				{% else %}
				following
				{% endif %}
				{% endif %}
			</p>
			<div class="username" style="font-size: larger; font-weight: bold;">
				{{ context.username }} 
			</div>
			<div class="userdata">
				{{ context.total_posts }} {% if context.total_posts > 1 %}posts{% else %}post{% endif %}
				<span style="font-weight: bold;">
					<a href="/users/{{ context.username }}/followers/" style="text-decoration: none;">
						{{ context.followers }} {% if context.followers > 1 %}follwers{% else %}follower{% endif %}
					</a>
					<a href="/users/{{ context.username }}/following/" style="text-decoration: none;">
						{{ context.following }} {% if context.following > 1 %}followings{% else %}following{% endif %}
					</a> 
				</span>			
			</div>
			<div class="name">
				{{ context.fullname }}
			</div>
			{% for post in context.posts %}
			<div class="smallimgs">
				<a href="/posts/{{ post.postid }}/">
					<img src="{{ post.img_url }}" alt="post of {{ context.username }}" style="width: 40%; padding-top: 20px;">
				</a>
			</div>
			{% endfor %}
		</div>
	</body>
</html>